.menu {
    display: flex;
    margin-left: 10px;
}

.menu div {
    font-family: 'Courier New', Courier, monospace;
    min-width: 0px;
    color: white;
    margin-right: 20px;
    border-left: solid 2px rgb(197, 197, 15);
    cursor: pointer;
    font-weight: bold;
    padding-left: 5px;
}