.champions-card-box {
    max-width: 1260px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 10px;
}

.champions-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title, .time {
    display: flex;
    border-bottom: solid 1px #535353;
}

.champions-card-title {
    background: #5F9EA0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.champions-card-time {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.pos {
    min-width: 80px;
}

.name-torney {
    min-width: 300px;
}

.quantity {
    min-width: 60px;
}

.time-torney {
    justify-content: flex-start;
}

.time-torney img {
    width: 20px;
    margin: 0 10px;
    max-height: 22px;
}

.second {
    background: rgb(197, 197, 15);
}

.marginBottom {
    margin: 0 0 20px;
}

.create-time-box, .create-time-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.inputs {
    margin: 0 10px;
}

.column-result {
    display: flex;
    align-items: center;
    margin: 0 2px;
}

.column-result label {
    font-size: 15px;
    margin-right: 3px;
}

.last-update {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0;
}